.wrap {
	@include sm-screen {
		max-width: $max_width;
		margin: 0 auto;
	}
}

.text-content-wrap {
	padding: 0 10px;

	@include sm-screen {
		padding: 0;
	}

	@include lg-screen {
		display: flex;
		justify-content: space-around;
	}
}

.multi-paragraph-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include sm-screen {
		align-items: initial;
	}

	@include lg-screen {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.block-with-image {
  	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



