.main {
	background-color: $main-background;
}

.text-content-wrap {
	padding: 0 10px;
	margin: 0 auto;
	width: 100%;

	@include sm-screen {
		max-width: $max_width;
	}

	@include lg-screen {
		display: flex;
		justify-content: space-around;
	}
}

.multi-paragraph-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	
	@include sm-screen {
		width: 450px;
		align-items: initial;
	}

	@include lg-screen {
		width: 450px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.block-with-image {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
