.foot {
    background-color: $dark-blue;
    color: $text_color_white;

    &_wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 25px;

        .foot_logo {

            @include sm-screen {
                font-size: 22px;
            }

            @include lg-screen {
               font-size: 27px;
            }
            
            p {
                color: rgb(25, 172, 240);
            }

            span {
                color: #00FFFF;
            }

            .discript {
                display: none;

                @include sm-screen {
                    display: block;
                    color: $text_color_white;
                    font-size: 15px;
                }
            }
        }

        .foot_nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            padding-bottom: 5px;

            @include sm-screen {
                font-size: 13px;
            }

            @include lg-screen {
                font-size: 17px;
            }

            a {
                color: $text_color_white;
            }

           
        }

        .foot_contact {
            
            &_tel {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 10px;
                    padding-bottom: 5px;

                    @include sm-screen {
                        font-size: 13px;
                    }

                    @include lg-screen {
                        font-size: 17px;
                    }
                }
            }

            &_email {
                
                img {
                    display: none;
                }

                a {
                    text-decoration: none;
                    font-size: 10px;
                    color: $text_color_white;

                    @include sm-screen {
                        font-size: 13px;
                    }

                    @include lg-screen {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}