.footer {
    background-color: $dark-blue;
    color: $text_color_white;
    font-size: 16px;

    &_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;

        .nav {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            a {
                padding: 2px 0;
                color: $text_color_white;

                &:hover {
                    font-weight: bold;
                }
            }

           
        }

        .logo-contacts {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            justify-content: space-between;

            .logo-description-container {
                display: flex;

                .logo {
                    font-size: 1.4em;
                    font-weight: bold;
                    text-shadow: 0px 2px 3px rgba(255, 216, 99, 0.75);
                    color: $dark-yellow;

                    span {
                        color: $light-yellow;
                    }
        
                    @include md-screen {
                    	font-size: 1.8em;
                    }
        
                    @include xl-screen {
                    	font-size: 2em;
                    }
        
                }
        
                .description {
                    display: none;
                    color: $text_color_white;
                    padding-left: 15px;
                    font-style: oblique;
        
                    @include sm-screen {
                        display: block;
                    }
                }
            }

            .contact { 
                &_tel {
                    display: flex;
                    flex-direction: column;

                    span {
                        padding: 2px 0;
                    }
                }
    
                &_email {
                    padding-top: 6px;

                    a {
                        color: $text_color_white;
                    }
                }
            }
        }

    }
}