%hamburgerer-styles {
	top: 0;
	position: fixed;
	z-index: 20;
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	justify-content: space-evenly;
	align-items: flex-start;
	background-color: $dark-blue;
	opacity: 0.95;
	transition: 0.4s all;
}

.header {
	position: fixed;
	width: 100%;
	padding: 6px 10px;
	font-size: 18px;
    background-color: $dark-blue;
    color: $text_color_white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1000;
	@include lg-screen {
		padding: 8px 5px;
	}
		
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;

		.logo {
			font-size: 1.5em;
			font-weight: bold;
			text-shadow: 0px 2px 3px rgba(255, 216, 99, 0.75);
			color: $dark-yellow;

			@include md-screen {
				font-size: 1.8em;
			}

			@include xl-screen {
				font-size: 2em;
			}

			span {
				color: $light-yellow;
			}
		}

		.nav {
			display: none;
			position: relative;

			@include lg-screen {
				display: block;
			}

			ul {
				display: flex;
			}
			
			a {
				color: $text_color_white;
				padding: 10px;

				&:hover {
					font-weight: bold;
					transition: all .4s;

				}
			}

			.active-item-underline {
				position: absolute;
				left: 0;
				bottom: -16px;
				height: 3px;
				background-color: $yellow;
				transition: all .6s;

				@include xl-screen {
					bottom: -17px;
				}
			}
		}

		.contact {
			display: flex;
			flex-direction: column;

			// .contact_email {
			// 	display: none;

			// 	// @include sm-screen {
			// 	// 	display: block;
			// 	// }
	
			// 	a {
			// 		color: $text_color_white;
			// 	}
			// }
		}
	}

	.hamburger-menu {
		display: block;

		@include lg-screen {
			display: none;
		}

		.hamburger-menu_button {
			display: block;
			position: relative;
			z-index: 30;
			width: 30px;
			height: 30px;
			background-color: transparent;
			border: none;
	
			.hamburger-menu_lines,
			.hamburger-menu_lines::after,
			.hamburger-menu_lines::before {
				display: block;
				position: absolute;
				width: 30px;
				height: 4px;
				background-color: $text_color_white;
				transition: 0.4s all;
			}
		
			.hamburger-menu_lines {
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
	
			.hamburger-menu_lines::after {
				content: '';
				top: 10px;
			}
	
			.hamburger-menu_lines::before {
				content: '';
				top: -10px;
			}
	
			@include lg-screen {
				display: none;
			}
		}
	
		.hamburger-menu_button:hover .hamburger-menu_lines {
			filter: brightness(0.7);
		}
		
		.hamburger-menu_active .hamburger-menu_lines {
			background-color: transparent;
		}
	
		.hamburger-menu_active .hamburger-menu_lines::after {
			top: 0;
			transform: rotate(-45deg);
		}
	
		.hamburger-menu_active .hamburger-menu_lines::before {
			top: 0;
			transform: rotate(45deg);
		}
	
		.hamburger-menu_nav {
			@extend %hamburgerer-styles;
			left: 100%;

			li {
				width: 100%;
			}
	
			a {
				display: block;
				color: $text_color_white;
				font-size: 20px;
				cursor: pointer;
				padding: 30px 20px;

				&:hover {
					font-weight: bold;
					transition: all .4s;

				}
			}
	
			@include lg-screen {
				display: none;
			}
		}
	
		.menu_active {
			@extend %hamburgerer-styles;
			left: 0;
	
			@include sm-screen {
				left: 40%;
			}
		}
	}

	.basket-icons {
		position: fixed;
		top: 6%;
		right: 2%;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: $dark-blue;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-image: url(../../img/shopping_cart.svg);
		background-position-x: center;
		background-position-y: bottom;
		background-repeat: no-repeat;
		cursor: pointer;
		transition: all .3s;

		&:active {
			box-shadow: none;
		}

		.basket-quantity {
			position: relative;
			top: 10px;
			
			&_number {
				display: block;
				text-align: center;
				font-size: 20px;
				color: $yellow;
				font-weight: bold;
			}
		}
	}
}