.advantages {
    padding: 20px 0;
    .text-content-wrap {
        align-items: baseline;
    }

    h2 {
        text-align: center;
    }

    .advantages_item {
        padding: 15px 0;

        h3 {
            padding: 8px 0;
        }

        p {
            text-align: center;

            @include lg-screen {
                max-width: 300px;
            }
        }

        img {
            width: 128px;
        }
    }
}