.deliv-pay {
    padding-top: 25px;
}

.delivery {
    padding: 15px 0;

    @include sm-screen {
		padding: 15px 10px;
    }
    
    @include lg-screen {
		display: flex;
		flex-direction: row;
	}

    h3 {
        padding: 15px 0;
    }
}   