.modal-window-close {
    display: none;
}

.modal-window {
    display: block;
    position: absolute;
    
    .window-wrap {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        background-color: lighten($main-background, 7%);
        z-index: 100;
        box-shadow: -6px 9px 54px 5px rgba(0,0,0,0.75), ;
    }
}

.window-close_button {
    margin-right: 10px;
    margin-top: 5px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;

    .button-span {
        display: block;
        width: 20px;
        height: 2px;
    }

    .button-span::before, .button-span::after {
        position: absolute;
        background-color: $dark-blue;
        content: '';
        width: 20px;
        height: 2px;
        right: 7px;
    }

    .button-span::before {
        transform: rotate(45deg);
    }

    .button-span::after {
        transform: rotate(-45deg);
    }
}

@include md-screen {
    .modal-window {
        .window-wrap {
            top: 5%;
            bottom: 5%;
            left: 5%;
            right: 5%;
            border-radius: 5px;
        }
    }
}