.product-hide {
    display: none;
}

.product-pictures_button {
    right: 0px;
    top: 10px;
    height: 15px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;

    .button-span {
        display: block;
        width: 20px;
        height: 2px;
    }

    .button-span::before, .button-span::after {
        position: absolute;
        background-color: $dark-blue;
        content: '';
        width: 20px;
        height: 2px;
        right: 7px;
    }

    .button-span::before {
        transform: rotate(45deg);
    }

    .button-span::after {
        transform: rotate(-45deg);
    }
}

.product-pictures_wrap {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: auto;
    margin-top: 20px;
    justify-content: space-between;

    .product-pictures_title {
        display: flex;
        justify-content: center;
        // min-width: 75%;
        border: 1px solid #0000501c;
        margin: 5px auto;
        height: auto;
        
        img {
            width: 100%;
            height: auto;
        }
    }

    .product-pictures_gallery {
        display: flex;
        justify-content: space-around;
        border: 1px solid #0000501c;
        margin: 15px auto;
        flex-grow: 0;
        width: 90%;
    }
}

.product-pictures_img {
    border: 1px solid #0000501c;
    margin: 5px;
    flex-basis: 100px;

    img {
        width: 100%;
        height: auto;
    }
}

.active {
    border: 3px solid $dark-blue;
    box-shadow: 5px 4px 6px $dark-blue;
    background: white;
    opacity: 0.6;
}