$text_color_white: #eaeaea;
$text_color_dark_grey:#3c3c3c;
$text_color_light: #f8fcff;
$text_color_red: #fa4a33;
$text_color_gray: #4f4f4f;

$max-width: 1200px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: $max-width;

$dark-blue: #000050	;
$blue: #274690;
$light-blue: #576CA8;
$dark: #302B27;
$yellow: #FFCD37;
$light-yellow: #FFD863;
$dark-yellow: #FFBF00	;

$main-background: #c6c4d4;