
// Variables
$text_color_wite: #ffffff;
$text_color_dark_grey:#3c3c3c;
$text_color_light: #f8fcff;
$text_color_red: #fa4a33;
$text_color_gray: #4f4f4f;
$max_width: 1920px;
$min_width: 320px;
$width_content: 1170px;