@charset "UTF-8";
@font-face {
  font-family: 'Montserrat Regular';
  src: url("../../fonts/Montserrat-Regular.eot");
  src: url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../../fonts/Montserrat-ExtraBold.eot");
  src: url("../../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Extra Bold';
  src: local("../../fonts/Montserrat Extra Bold"), local("../../fonts/Montserrat-Extra-Bold"), url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("../../fonts/SourceSansPro-Regular.eot");
  src: url("../../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-Regular.woff") format("woff"), url("../../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("../../fonts/SourceSansPro-SemiBold.eot");
  src: url("../../fonts/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../../fonts/SourceSansPro-Bold.eot");
  src: url("../../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-Bold.woff") format("woff"), url("../../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../../fonts/ProximaNova-Regular.eot");
  src: url("../../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Regular.woff") format("woff"), url("../../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../../fonts/ProximaNova-Semibold.eot");
  src: url("../../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Proxima Nova Regular'; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

h2 {
  font-size: 32px;
  text-align: center;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75); }

h3 {
  font-size: 22px;
  text-align: center;
  font-weight: bold; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../../fonts/Montserrat-Regular.eot");
  src: url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../../fonts/Montserrat-ExtraBold.eot");
  src: url("../../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Extra Bold';
  src: local("../../fonts/Montserrat Extra Bold"), local("../../fonts/Montserrat-Extra-Bold"), url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("../../fonts/SourceSansPro-Regular.eot");
  src: url("../../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-Regular.woff") format("woff"), url("../../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("../../fonts/SourceSansPro-SemiBold.eot");
  src: url("../../fonts/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../../fonts/SourceSansPro-Bold.eot");
  src: url("../../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SourceSansPro-Bold.woff") format("woff"), url("../../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../../fonts/ProximaNova-Regular.eot");
  src: url("../../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Regular.woff") format("woff"), url("../../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../../fonts/ProximaNova-Semibold.eot");
  src: url("../../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.main {
  background-color: #c6c4d4; }

.text-content-wrap {
  padding: 0 10px;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .text-content-wrap {
      padding: 0;
      max-width: 1200px; } }
  @media (min-width: 992px) {
    .text-content-wrap {
      display: flex;
      justify-content: space-around; } }

.multi-paragraph-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 576px) {
    .multi-paragraph-block {
      align-items: initial; } }
  @media (min-width: 992px) {
    .multi-paragraph-block {
      padding-left: 15px;
      padding-right: 15px; } }

.block-with-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.fade-in-hidden {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; }

.fade-in {
  opacity: 1;
  transform: none;
  visibility: visible; }

.header {
  position: fixed;
  width: 100%;
  background-color: #000050;
  color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1000; }
  .header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .header .content h1 {
      font-size: 1.5em;
      font-weight: bold;
      text-shadow: 0px 2px 3px rgba(255, 216, 99, 0.75);
      color: #FFBF00; }
      @media (min-width: 576px) {
        .header .content h1 {
          font-size: 2.5em; } }
      .header .content h1 span {
        color: #FFD863; }
    .header .content .nav {
      display: none; }
      @media (min-width: 576px) {
        .header .content .nav {
          display: flex;
          flex-direction: column; } }
      @media (min-width: 768px) {
        .header .content .nav {
          display: flex;
          flex-direction: row; } }
      .header .content .nav a {
        text-decoration: none;
        color: #eaeaea;
        margin-left: 10px;
        font-size: 16px; }
    .header .content .contact {
      display: flex;
      flex-direction: column; }
      .header .content .contact .contact_tel {
        display: flex;
        flex-direction: column;
        color: #eaeaea; }
        .header .content .contact .contact_tel span {
          padding-bottom: 5px;
          font-size: 15px; }
      .header .content .contact .contact_email {
        display: none; }
        @media (min-width: 576px) {
          .header .content .contact .contact_email {
            display: flex;
            align-items: center; } }
        .header .content .contact .contact_email a {
          color: #eaeaea;
          margin-left: 3px; }

.foot {
  background-color: #000050;
  color: #eaeaea; }
  .foot_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px; }
    @media (min-width: 576px) {
      .foot_wrap .foot_logo {
        font-size: 22px; } }
    @media (min-width: 992px) {
      .foot_wrap .foot_logo {
        font-size: 27px; } }
    .foot_wrap .foot_logo p {
      color: #19acf0; }
    .foot_wrap .foot_logo span {
      color: #00FFFF; }
    .foot_wrap .foot_logo .discript {
      display: none; }
      @media (min-width: 576px) {
        .foot_wrap .foot_logo .discript {
          display: block;
          color: #eaeaea;
          font-size: 15px; } }
    .foot_wrap .foot_nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      padding-bottom: 5px; }
      @media (min-width: 576px) {
        .foot_wrap .foot_nav {
          font-size: 13px; } }
      @media (min-width: 992px) {
        .foot_wrap .foot_nav {
          font-size: 17px; } }
      .foot_wrap .foot_nav a {
        color: #eaeaea; }
    .foot_wrap .foot_contact_tel {
      display: flex;
      flex-direction: column; }
      .foot_wrap .foot_contact_tel span {
        font-size: 10px;
        padding-bottom: 5px; }
        @media (min-width: 576px) {
          .foot_wrap .foot_contact_tel span {
            font-size: 13px; } }
        @media (min-width: 992px) {
          .foot_wrap .foot_contact_tel span {
            font-size: 17px; } }
    .foot_wrap .foot_contact_email img {
      display: none; }
    .foot_wrap .foot_contact_email a {
      text-decoration: none;
      font-size: 10px;
      color: #eaeaea; }
      @media (min-width: 576px) {
        .foot_wrap .foot_contact_email a {
          font-size: 13px; } }
      @media (min-width: 992px) {
        .foot_wrap .foot_contact_email a {
          font-size: 17px; } }

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Фон.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  .banner .banner_text {
    font-size: 1.5em;
    text-align: center;
    color: #eaeaea;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75); }
    @media (min-width: 576px) {
      .banner .banner_text {
        font-size: 2.5em; } }

.advantages {
  padding: 20px 0; }
  .advantages .text-content-wrap {
    align-items: baseline; }
  .advantages h2 {
    text-align: center; }
  .advantages .advantages_item {
    padding: 15px 0; }
    .advantages .advantages_item h3 {
      padding: 8px 0; }
    .advantages .advantages_item p {
      text-align: center; }
      @media (min-width: 992px) {
        .advantages .advantages_item p {
          max-width: 300px; } }
    .advantages .advantages_item img {
      width: 128px; }

.payment {
  padding: 15px 0; }
  @media (min-width: 576px) {
    .payment {
      padding: 15px 10px; } }
  @media (min-width: 992px) {
    .payment {
      display: flex;
      flex-direction: row-reverse; } }
  .payment h3 {
    padding: 15px 0; }

.deliv-pay {
  padding-top: 25px; }

.delivery {
  padding: 15px 0; }
  @media (min-width: 576px) {
    .delivery {
      padding: 15px 10px; } }
  @media (min-width: 992px) {
    .delivery {
      display: flex;
      flex-direction: row; } }
  .delivery h3 {
    padding: 15px 0; }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px; }
  .contacts_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px; }
    @media (min-width: 576px) {
      .contacts_wrap {
        flex-direction: initial;
        justify-content: space-around; } }
    .contacts_wrap .contacts_email {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contacts_wrap .contacts_email_text {
        display: flex;
        align-items: center;
        justify-content: center; }
        .contacts_wrap .contacts_email_text a {
          text-decoration: none;
          color: black; }
          @media (min-width: 992px) {
            .contacts_wrap .contacts_email_text a {
              font-size: 20px; } }
      .contacts_wrap .contacts_email img {
        max-width: 128px;
        max-height: 128px;
        padding-bottom: 10px; }
    .contacts_wrap .contacts_tel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px; }
      .contacts_wrap .contacts_tel img {
        max-width: 128px;
        max-height: 128px;
        padding-bottom: 10px; }
      .contacts_wrap .contacts_tel span {
        padding-bottom: 3px; }
        @media (min-width: 992px) {
          .contacts_wrap .contacts_tel span {
            font-size: 20px; } }
